---
// import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <span class="text-primary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-cash-banknote inline-block w-8 h-8 -mt-1"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
  >

  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
  <path d="M3 8a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
  <path d="M18 12h.01"></path>
  <path d="M6 12h.01"></path>
</svg>
  </span>
  AlatAntrian<span class="text-primary"> Perbankan</span>
</span>
